<a href="/auth/github">github</a>
<br/>
<a href="/auth/twitch">twitch</a>
<style>
    body{
        background-color: #232323;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
    a{
        color: white;
    }
</style>