<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passport App</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="wrapper">
        <% data.forEach(btn => { %>
            <a href="<%= btn.href  %>">
                <div style="background-color: <%= btn.color  %>; background-image: url( img/logos/<%=btn.name%>.png )">
                    <h3><%= btn.name  %></h3>
                </div>
            </a>
        <% })  %>
    </div>
</body>
</html>