<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passport App</title>
</head>
<body>
    <h1>
        <%= user.name %>
    </h1>
    <h4>
        <%= user.origin %> user
    </h4>
    <div>
        <img src="<%= user.imageURL %>" alt="">
    </div>
</body>
<style>
    body{
        background-color: #232323;
        text-align: center;
        color: white;
    }
</style>
</html>